<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouillos.myragnagna">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons8_serviette_hygienique"
        android:label="MyRagnagna"
        android:roundIcon="@mipmap/icons8_serviette_hygienique"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pouillos.myragnagna.activities.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pouillos.myragnagna.activities.afficher.AfficherRegleActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pouillos.myragnagna.activities.afficher.AfficherListeReglePrevisionnelleActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pouillos.myragnagna.activities.afficher.AfficherListeRegleActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>